// hardhat.config.js

require("dotenv").config();
require("@nomiclabs/hardhat-ethers");

module.exports = {
  solidity: {
    version: "0.8.9", // Replace with the version of Solidity used in your Goblin.sol contract
    settings: {
      viaIR: true,
      optimizer: {
        enabled: true,
        runs: 100,
      },
    },
  },
  networks: {
    hardhat: {
      chainId: 31337,
    },
    // You can add other network configurations if needed, e.g., for local development or testing
  },
  defaultNetwork: "hardhat",
};
